/*body{
  background-color: grey;
}*/




h1 {
  text-align: center;
  font-color: rgb (25, 25, 112);
  font-family: Helvetica, serif;
}

/*.piece {
  height: 79px;
  width: 80px;
  border: 1px solid black;
  background-color: url('http://i.imgur.com/976Nlgu.png?1');

}

.board {
  height: 480px;
  width: 474px;
  display: inline-block;
  border: 1em solid red;
  margin-left: 31%;
}
*/


button {
  width: 50px;
  height: 50px;
  font-family: helvetica;
  margin-top: 2%;
  margin-left: 33.4%;
}





table{
 width: 500px;
 height: 500px;
 margin: 0 auto;
}

table, tr, td{
 border: 3px solid green;

}

td{
 width: 50px;
 height: 50px;
 /*background-image: url(http://i.imgur.com/976Nlgu.png?1);
}
